mixin favicon(options)
    link(
        rel='shortcut icon',
        href= options.image
        type= 'image/x-icon'
    )
    link(
        rel='icon',
        href= options.image
        type= 'image/x-icon'
    )