include ./config/options

doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
    head
        meta(
            charset='utf-8'
        )
        meta(
            name='viewport',
            content='user-scalable=no'
        )
        meta(
            name='viewport',
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0'
        )
        link(
            rel='stylesheet',
            href= 'css/style.css' + options.version
        )
    body
        #react-root
        script(src= 'js/react.min.js' + options.version)





